@using Bookish.Web.Controllers
@using DataAccessNew
@using Bookish.Web.Models
@using Bookish.Web.ViewModels
@using DataAccessNew.Tables
@model Bookish.Web.ViewModels.UserData
@{
    HomeController homeController = new HomeController();
    if (Session["userName"] == null && Session["password"] == null)
    {
        if (homeController.ValidateUser(@Model))
        {
            Session["userName"] = @Model.User.userName;
            Session["password"] = @Model.User.passwordHash;
        }
    }
}
<!DOCTYPE html>
<html>
<head>
    <title>Home</title>
    <link rel="stylesheet" type="text/css" href="~/Content/Main.css">
</head>

<body>
    <div>
        <br />
        <h3>
            Welcome @Session["UserName"]?
        </h3>
    </div>
    <div style="float: left; width: 400px;">
        <h2>Menu</h2>
        <br/>
        
        <div id="card">
            <a href="Library">
                <p id="cardtitle">View library</p>
                <p>
                    A list of all of the books and their current availability. With the ability to search by title or author as well as sorting the results by column.
                </p>
            </a>
        </div>
        <br/>
        
        
        <div id="card">
            <a href="AddBook">
            <p id="cardtitle">Add book</p>
            <p>
                Add a new book to our collection; enter the title, author, genre, release date, ISBN, the URL of the cover image and the total quantity.
            </p>
            </a>
        </div>
        <br/>
        
        <div id="card">
            <a href="RentalHistory">
                <p id="cardtitle">Rental history</p>
                <p>
                    View all of your previous book rentals including details of the book title, author and cover image as well as the date it was taken out, the date it was due back and the date it was returned.
                </p>
            </a>
        </div>
</div>
    @{
        UserRepository userRepository = new UserRepository();
        int userId = userRepository.GetSingleUser(Session["userName"].ToString()).id;
        LoanRepository loanRepository = new LoanRepository();
        List<Loans> rentals = loanRepository.GetActiveLoans(userId);
    }
        <h2>Current rentals</h2>
        <table cellpadding="10">
            <tr id="header">
                <td>
                    <b>
                        Cover Image:
                    </b>
                </td>
                <td>
                    <b>
                        Book title:
                    </b>
                </td>
                <td>
                    <b>
                        Author:
                    </b>
                </td>
                <td>
                    <b>
                        Taken out:
                    </b>
                </td>
                <td>
                    <b>
                        Due back:
                    </b>
                </td>
                <td>
                    <b>
                        Return:
                    </b>
                </td>
            </tr>
            @{
                int i = 0;
                foreach (Loans rental in rentals)
                {
                    i++;
                    string style = "background-color: #44dd44;";
                    if (i % 2 == 0)
                    {
                        style = "background-color: #55cc55;";
                    }
                    if (DateTime.Compare(rental.dateTakenOut.AddDays(rental.duration), DateTime.Now.Date) < 0)
                    {
                        style = "background-color: #dd4444;";
                        if (i % 2 == 0)
                        {
                            style = "background-color: #cc5555;";
                        }
                    }
                    if (DateTime.Compare(rental.dateTakenOut.AddDays(rental.duration), DateTime.Now.Date) == 0)
                    {
                        style = "background-color: #dddd44;";
                        if (i % 2 == 0)
                        {
                            style = "background-color: #cccc55;";
                        }
                    }
                    <tr style="@style height: 100px;">
                        <td>
                            <img src="@rental.Book.BookType.coverImageURL" height="100px" />
                        </td>
                        <td>
                            @rental.Book.BookType.title
                        </td>
                        <td>
                            @rental.Book.BookType.author.name
                        </td>
                        <td>
                            @string.Format($"{rental.dateTakenOut:d}")
                        </td>
                        <td>
                            @string.Format($"{rental.dateTakenOut.AddDays(rental.duration):d}")
                        </td>
                        <td>
                            <a href="ReturnBook?rentalId=@rental.id">Mark as returned</a>
                        </td>
                    </tr>
                }
            }
        </table>
</body>
</html>