@using Bookish.Web.Controllers
@using DataAccessNew
@using Bookish.Web.Models
@using Bookish.Web.ViewModels
@using DataAccessNew.Tables
@model Bookish.Web.ViewModels.LibraryParameters
<!DOCTYPE html>

<html>
<head>
    <title>Home</title>
</head>

<body>
    <div>
        <br />
        <h3>
            @{
                if (Session["Username"] != null)
                {
                    <p>
                        Welcome @Session["Username"].ToString()
                    </p>
                }
            }
        </h3>
    </div>
@{
    List<BookTypes> books;
    BookTypeRepository bookTypeRepository = new BookTypeRepository();
    int numRows = Math.Max(30, Model.numRows);
    if (Model.search != null && Model.type != null)
    {
        books = bookTypeRepository.SearchBookTypes(Model.search,Model.type,numRows);
    }
    else
    {
        books = bookTypeRepository.GetBookTypes(numRows);

    }
    if (Model.sortby != null)
    {
        books = BookTypes.SortBooks(Model.sortby, books);
    }
    }
<h2>Books</h2>
<br />
@using (Html.BeginForm("Library", "Home", FormMethod.Post))
{
    <label>Search</label><br/>
    <input type="text" name="search" /><br/>
    <select name="type">
        <option value="BookTypes.title">Title</option>
        <option value="Author.name">Author</option>
    </select><br/><br/>
    <label>Number of results (min 30)</label><br />
    <input type="number" name="numRows" /><br />
    <input type="submit"/>
    <br />
    <br />
    <br/>
}

        <table cellpadding="5">
            <tr style="background-color: #a9a9a9">
                <td>
                    <b>
                        <a href="Library?SortBy=title">Title</a>
                    </b>
                </td>
                <td>
                    <b>
                        <a href="Library?SortBy=author">Author</a>
                    </b>
                </td>
                <td>
                    <b>
                        <a href="Library?SortBy=releaseDate">Release Date</a>
                    </b>
                </td>
                <td>
                    <b>
                        <a href="Library?SortBy=genre">Genre</a>
                    </b>
                </td>
                <td>
                    <b>
                        <a href="Library?SortBy=ISBN">ISBN</a>
                    </b>
                </td>
                <td>
                    <b>
                        <a href="Library?SortBy=availableCopies">Available copies</a>
                    </b>
                </td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            @{
                int i = 0;
                foreach (BookTypes book in books)
                {
                    string style = "background-color: #f3f3f3;";
                    if (i % 2 == 0)
                    {
                        style = "background-color: #e3e3e3;";
                    }
                    <tr style="@style">
                        <td>
                            @book.title
                        </td>
                        <td>
                            @book.author.name
                        </td>
                        <td>
                            @($"{book.releaseDate:d}")
                        </td>
                        <td>
                            @book.genre
                        </td>
                        <td>
                            @book.ISBN
                        </td>
                        <td>
                            @book.availableCopies
                        </td>
                        <td>
                            <img src="@book.coverImageURL" height="100px" />
                        </td>
                        <td>
                            @using (Html.BeginForm("TakeOutBook", "Home", FormMethod.Post))
                            {
                                if (book.availableCopies > 0)
                                {
                                    <input type="hidden" name="id" value="@book.id" />
                                    <input type="submit" value="Take out" />
                                }
                            }
                        </td>
                        <td>
                            <a href="ViewStatus?id=@book.id">View status</a>
                        </td>
                        <td>
                            <a href="EditBook?id=@book.id">Edit</a>
                        </td>
                    </tr>
                }
            }
        </table>
</body>
</html>