@using DataAccessNew
@using DataAccessNew.Tables
@model DataAccessNew.Tables.BookTypes

<!DOCTYPE html>

<html>
<head>
    <title>View Status</title>
    <link rel="stylesheet" type="text/css" href="~/Content/Main.css">
</head>
    <body>
        <div>
            <br />
            <h2>
                Book status - @Model.title
            </h2>
            <table cellpadding="15">
                <tr id="header">
                    <td>
                        <b>Book id</b>
                    </td>
                    <td>
                        <b>Availability</b>
                    </td>
                    <td>
                        <b>Current possessor</b>
                    </td>
                    <td>
                        <b>Taken out</b>
                    </td>
                    <td>
                        <b>Due back</b>
                    </td>
                </tr>
                @{
                    int i = 0;
                    string style;
                    List<Book> books = BookRepository.GetBooksOfType(Model).Books;
                    foreach (Book book in books)
                    {
                        i++;
                        if (book.available)
                        {
                            style = "background-color: #44dd44;";
                            if (i % 2 == 0)
                            {
                                style = "background-color: #55cc55;";
                            }
                            <tr style="@style">
                                <td>
                                    @book.id
                                </td>
                                <td>
                                    Available
                                </td>

                                <td>
                                    Library
                                </td>

                                <td>
                                    N/A
                                </td>
                                <td>
                                    N/A
                                </td>
                            </tr>
                        }
                        else
                        {
                            style = "background-color: #dd4444;";
                            if (i % 2 == 0)
                            {
                                style = "background-color: #cc5555;";
                            }
                            LoanRepository loanRepository = new LoanRepository();
                            Loans loan = loanRepository.GetLoanFromBookId(book.id);
                            <tr style="@style">
                                <td>
                                    @book.id
                                </td>
                                <td>
                                    Unavailable
                                </td>
                                <td>
                                    @loan.user.userName - @loan.user.id
                                </td>
                                <td>
                                    @String.Format($"{loan.dateTakenOut:d}")
                                </td>
                                <td>
                                    @String.Format($"{loan.dateTakenOut.AddDays(loan.duration):d}")
                                </td>
                            </tr>   
                        }
                    }
                }
            </table>
        </div>
    </body>
</html>